*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.metadata/

# Eclipse
*/.gitignore
*/.classpath
*/.settings/
*/.cache

# Tex helper files
*.aux
*.aul
*.bib
*.out
*.bbl
*.synctex.gz

# Data files that are too large
*/data/*.csv
*/data/*.csv.zip
